.git
.gitignore
**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
**/.mypy_cache
**/.DS_Store

frontend/node_modules
frontend/dist

server/media
server/db.sqlite3

notebooks/output
notebooks/output_new
notebooks/output_v3
