--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio

diffusers
transformers
accelerate
safetensors
huggingface-hub
peft

moviepy
pillow
edge-tts
requests
mysqlclient
